<div class="mt-5 row features">
  <div class="mt-2 mb-2 col col-md-6 col-6">
    <h3>Abstraction</h3>
    <p>A common API that is truly agnostic and based on modern cryptographic principles</p>
  </div>
  <div class="mt-2 mb-2 col col-md-6 col-6">
    <h3>Mediation</h3>
    <p>Security as a microservice, brokering access to the hardware and providing isolated key stores in a multi-tenant environment</p>
  </div>
  <div class="mt-2 mb-2 col col-md-6 col-6">
    <h3>Ergonomics</h3>
    <p>A client library ecosystem that brings the API to the fingertips of developers in any programming language: easy to consume, hard to get wrong</p>
  </div>
  <div class="mt-2 mb-2 col col-md-6 col-6">
    <h3>Openness</h3>
    <p>An open-source project inviting contributions to enhance the ecosystem both within the service and among its client libraries</p>
  </div>
</div>
