<div class="mt-5 row logos align-items-center">
  <div class="mt-4 col col-md-12 col-12">
    <h2 class="mb-3">Parsec is an open source collaborative project</h2>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://arm.com" target="_blank" rel="noopener"><img src="/img/logos/arm.svg" title="ARM" /></a>
    <p>
    <small class="pt-4"><strong>Note:</strong> Arm contributes to Parsec as part of 
      <a href="https://www.arm.com/-/media/global/solutions/artificial-intelligence/Project_Cassini.pdf" target="_blank" rel="noopener">Project Cassini.</a></small>
    </p>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://docker.com" target="_blank" rel="noopener"><img src="/img/logos/docker-logo.png" title="Docker" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6 d-block" style="text-align:center">
    <a href="https://linaro.com" target="_blank" rel="noopener"><img src="/img/logos/linaro-logo.png" title="Linaro" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://mirantis.com" target="_blank" rel="noopener"><img src="/img/logos/mirantis-logo.png" title="Mirantis" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://nxp.com" target="_blank" rel="noopener"><img src="/img/logos/nxp-logo.jpg" title="NXP" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://nixu.com" target="_blank" rel="noopener"><img src="/img/logos/nixu-logo.jpg" title="NXP" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://rancher.com" target="_blank" rel="noopener"><img src="/img/logos/rancher-logo.png" title="Rancher" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://redhat.com" target="_blank" rel="noopener"><img src="/img/logos/redhat-logo.png" title="Red Hat" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://suse.com" target="_blank" rel="noopener"><img src="/img/logos/opensuse-logo.png" title="SUSE" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://56k.cloud/" target="_blank" rel="noopener"><img src="/img/logos/56kcloud.png" title="56k Cloud" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center">
    <a href="https://aws.amazon.com/greengrass/" target="_blank" rel="noopener"><img src="/img/logos/AWS-greengrass-icon.png" title="AWS IoT Greengrass" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center;">
    <a href="https://netfoundry.io/" target="_blank" rel="noopener"><img src="/img/logos/NFBlueBG.jpg" title="NetFoundry" /></a>
  </div>
  <div class="mt-4 col col-md-3 col-6" style="text-align:center;">
    <a href="https://scalys.com/" target="_blank" rel="noopener"><img src="/img/logos/Scalys_logo.jpg" title="Scalys" /></a>
  </div>

</div>
